
* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
}

#game {
  min-width: 570px;
  padding: 30px 30px;
  background-color: #fff;
  border: 8px solid black;
  border-radius: 40px;

}

td {
  width: 60px;
  height: 60px;
  border: solid 2px #000;
  border-radius: 10px;
}

#column-top > td {
  background-color: #c1d9ff;
  border-radius: 50%;
  border-width: 5px;
}

@keyframes drop {
  0% {
    bottom: 150px;
    opacity: 0;
  }
  100% {
    bottom: 0px;
    opacity: 1;
  }
}
/* pieces are div within game table cells: draw as colored circles */
.piece {
  /* TODO: make into circles */
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  z-index: 1;

  animation-name: drop; 
  animation-duration: 300ms;
}



/* TODO: make pieces red/blue,  depending on player 1/2 piece */
.p1 {
  background-image:url(images/fedora.png); 
  background-size: contain; 
  background-repeat: no-repeat; 
  background-position: center; 
}

.p2 {
  background-image:url(images/fedora2.jpeg);
  background-size: contain; 
  background-repeat: no-repeat; 
  background-position: center; 
}
